body {
    background-color: rgb(245, 245, 245);
}

#intro {
    background: url(../images/computer.jpg) no-repeat center center fixed;
    background-color: rgb(237, 253, 239);
    background-blend-mode: multiply;
    background-size: cover;
    display: none;
}


.landing-card {
    background-color:rgba(208, 235, 249, 0.7);
    text-shadow: 1px 1px 1px black;
    color: white;
    border: none;
}

.headshot {
    width: 200px;
    height: 200px;
    opacity: .85;
}

#intro {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.scroll-arrow {
    text-decoration: none;
    color: black;
    text-shadow: none;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}
.scroll-arrow:visited {
    text-decoration: none;
    color: black;
}

.scroll-arrow:hover {
    color: black;
    text-decoration: none;
}

.mobile-profile {
    border-radius: 50%;
}

.headshot {
    border-radius: 50%;
}

.navbar {
    border-bottom: 1px solid black;
    background-color: rgb(208, 235, 249);
}

#skills {
    list-style: none;
    color: black;
}

#skills li {
    margin: 5px;
}

#skills :nth-child(odd) {
    background-color: rgb(247, 235, 249);
    border-radius: 10px;
}

#skills :nth-child(even) {
    background-color: rgb(208, 235, 249);
    border-radius: 10px;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, .125);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.project-info {
    height: 75px;
}

.caption {
    height: 1.85rem;
    text-decoration: none;
    background-color: rgb(1, 5, 78);
    color: white;
    border-radius: 10px;
    font-size: .85rem;
    padding: 5px;
}

.caption a {
    
}

#contact-card {
    background-color: rgb(208, 235, 249);
    border: none;
}

.contact,
.email, 
.email a,
.phone,
.phone a  {
    text-decoration: none;
    color: black;
}

.email a:visited {
    text-decoration: none;
    color: white;
}


.social {
    width: 50px;
    height: auto;
}


@media (min-width: 1024px) {
    #intro {
        display: block;
    }

    .mobile-profile {
        display: none;
    }

    #about {
        padding-top: 4rem;
    }
}